body {
  background: url(views/pics/bg.png);

}

a {
  font-size: 1.2em;
  color: rgb(114, 149, 200);
  font-weight: 400;
}

a:hover{
  color: rgb(114, 149, 200);
}

.dashboard {
  background: rgba(254, 254, 254, 0.25);
  margin-bottom: 100px;
  margin-top: 100px;
  font-family: 'Jura', sans-serif;
  border-radius: 1px;
  /*font-family: 'Orbitron', sans-serif;*/
  /*color: rgb(110, 144, 195);*/
}

.top-header {
  color: rgb(56, 56, 56);
  font-weight: 600;
  font-size: 1.4em;
}

.topic-header {
  color: #65A67F;
  font-weight: 600;
  font-size: 2em;
  margin: 0.5em;
}

.cloud {
  top: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  border: 1px black solid;
  background-color: #455A69;
  opacity: 0.5;
  /*box-shadow: 0px 10px 10px #888888;*/
}
