#bodyMain {
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
}

.a_main {
  width: 1200px;
  height: 100%;
}
.cloudMain {
  width: 500px;
  height: 500px;
  margin: 0 auto 0 auto;
  background-color: black;
  text-align: center;
}
