<div class="row" ng-controller="DashboardController">
  <div class="col-xs-offset-1 col-xs-10 dashboard">
    TEST
    <div class="row">
      <div class="col-xs-6">
          <ng-include src="'views/chart/chart.html'"></ng-include>
      </div>
      <div class="col-xs-6">
        <div class="row">
          <ng-include src="'views/users/users.html'"></ng-include>
        </div>
        <div class="row">
          <ng-include src="'views/stories/stories.html'"></ng-include>
        </div>
      </div>
    </div>
  </div>
</div>
